.entry.bryn_tan {
    font-family: 'Caveat', arial, serif
}

.entry.bryn_tan h1 {
    font-family: 'Caveat', arial, serif
}

.entry.bryn_tan h2 {
    font-family: 'Caveat', arial, serif
}

.bryn_tan > .signed {
    height: 3em
}

.entry {
    font-family: 'Indie Flower', arial, serif;
    font-size: 2em;
}

.entry h1 {
    font-family: 'Indie Flower', arial, serif;
    font-size: 3em;
    font-weight: bolder
}

.entry h2 {
    font-family: 'Indie Flower', arial, serif;
    font-size: 2em;
    font-weight: bold
}