#Loader, #PageContents{
    padding-top: 2em;
    display: none;
}

#Loader {
    text-align: center;
}

.entry > .signed {
    display: block;
    text-align: right;
}

.bryn_tan > .signed span {
    display: none;
}

.alwaysTyped {
    font-family: arial, serif;
    font-size: 1.25em;
}

#moon, #typed {
    display: none;
}

.row { padding-bottom: 3em }

.entry > p > img {
    padding-right: 1em;
    display: inline-flex;
    float: left;
    max-width: 100%;
}

.entry > p {
    display: block;
}

.entry > :first-child{
    margin-top: 25px;
}

.signed > span {
    font-family: 'Dancing Script', arial, serif;
    font-size: 2em
}

.navbar-right>li {
    float: left;
}

.four-nations-map {
    width: 100%;
    padding: 0em 4em 2em 4em;
}