#Loader, #PageContents{
    padding-top: 2em;
    display: none;
}

#Loader {
    text-align: center;
}

.entry > .signed {
    display: block;
    text-align: right;
}

.bryn_tan > .signed span {
    display: none;
}

.alwaysTyped {
    font-family: arial, serif;
    font-size: 1.25em;
}

#moon, #typed {
    display: none;
}